
body{
  background-color:white;
  height: 100%;
  font-family: 'Biryani';font-size: 20px;
}

.main_container{
  width: 95vh;
  margin: 0 auto;
  display:flex;
  flex-flow: row wrap;
  background-color: white;
  height: auto%;


}


.top-navigation, .footer{
  background-color: #FEEAB6;
  height: auto;;
  color: black;
  padding: 5px;
  width: 100%;

}


.navigation a{
  color: grey;
  font-size: 20px;
}

.stack {
  display: flex-inline;
  flex-wrap: nowrap;
}


#manuevers {
  color: grey;


}

.nav_second {
  display: flex-inline;
  flex-wrap: nowrap;
  width: 80%
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color: #FEEAB6;
color:grey;

}


.top_row {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
   height: 60vh;


}

.top_row .left_column {
  width: 50%;
  border: 2px solid  #E0EAEA;
  border-radius: 15px;
  padding: 10px;


}


.top_row .left_column h1 {
  font-size: 32px;

}


.top_row .left_column p {
  font-size: 18px;
  margin: 0 5px 0 5px;

}


 #simplicity {
  font-size: 32px;
  font-style: italic;
  margin: 0 5px 0 5px;
  font-weight:bolder;
  color: #E6AD28;

}

.top_row .right_column {
  width: 50%;
  border: 2px solid  #E0EAEA;
  border-radius: 15px;
}

.right_column h2{
  text-align: center;
}

.top_row p{
  flex-wrap: wrap;
}
.top_row h2{
  flex-wrap: wrap;
}


.portfolio_row{
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.thumbnail img {
  width: 90%;
  height: auto;
  margin: 2px;
  padding: 2px;
}

.right_column #more_samples{
  text-align: center;
}

.skills p{
  text-align: center;
  margin: 5px;
  padding: 0;

}

.skills ul {
  font-size: 14px;
  margin-top: 0;
}

.skills li{
  display:inline-block;
  margin:0;
  padding:0;

}

.break_between {
  height: 5%;
  text-align: center;
  width: 100%;

  font-style: italic;
}

.bottom_row {
  width: 100%;
  height: 35vh;
  display: inline-flex;
  flex-wrap: wrap;
}

.bottom_row .left_column {
  width: 65%;

  border: 2px solid  #E0EAEA;
  border-radius: 15px;


}

.left_column{
    display: inline-flex;
    flex-wrap: wrap;

  }


.right_column {
  width: 35%;

  border: 2px solid  #E0EAEA;
  border-radius: 15px;

}


.left_lower_left {
   width: 50%;
}

.left_lower_left p{
   width: 100%;
   font-style: italic;
   font-weight: bold;
   font-size: 20px;
   text-align: center;
}

.left_lower_left a{
  font-size: 16px;
}


.left_lower_left li{

list-style: none;
font-size: 20px;


}
.left_lower_right{
  width: 50%;
  font-size: 16px;
  margin: 0 auto;

}



.left_lower_right_top, .left_lower_right_bottom {
  height: 25%;
}

.left_lower_right_middle {
  height: 50%;
  display:inline-flex;
  flex-wrap: nowrap;


}

#firstcap {
  color: #E6AD28;
  font-weight: bold;
}

.left_lower_right_mid_right {
  color:#E6AD28;
  text-transform: lowercase;;
  margin: 5px;
  padding: 5px;
  border: 2px solid  #E0EAEA;
  border-radius: 15px;

}

.skill-buttons-display{
  display:inline-flex;
  text-align: center;
}

.skill-buttons-display ul{
 padding-left: 5px;
  text-align: center;
  margin: 5px;
  display: inline-block;
}


.skill-buttons-display li{
  list-style: none;
  text-align: left;

}


.footer {

  display: inline-flex;
  flex-wrap: nowrap;
  text-align: center;
margin:0 auto;
justify-content: space-around;
}


.footer ul{
  padding: 0;

}

.footer li{
  list-style: none;
  margin: 0;
  padding: 0;

}
