html{
  margin: 0 auto;
  background-color: black;
  
  
}
body{
  height: 100%;
  font-family: 'Varela Round', sans-serif;
  font-size:24px;
  display:flex;
  flex-flow: row wrap;
  width: 100%;
   
  margin: 0 auto;
  justify-content: center;
  background-color: black;
   
  
 
   
}

main{
   
  width: 95%;
  
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  border: 2px color red;
  
}

#manuevers {
  color: grey;
}

#simplicity {
 font-size: 40px;
 font-style: italic;
 margin: 5px 5px 5px 5px;
 font-weight:bolder;
 color: #E6AD28;
}


#firstcap {
  color: #E6AD28;
  font-weight: bold;
}


.main_container{
  
  margin: 0 auto;
  display:flex;
  flex-flow: row wrap;
  background-color: white;
  height: auto;
  flex-wrap: wrap;
  background-color: black;
  width: 100%;
  justify-content: center;
  border: 2px color red;


}

.top-navigation, .footer{
  background-color:black;
  height: auto;;
  color: whitesmoke;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
   

}
.top-navigation{
  position: fixed;
  top:0;
  z-index: 10;
  height: 15%;
  width: 100%;
  min-width:95%;
}
.navigation, .footer_nav {
    width: 100%;
    margin: 0 auto;
    height: 20px;
     
     
}

 
.navigation h2{
  margin: 0;
  padding: 0;

}

.navigation img{
  height: 50px;
  width: auto;
  padding: 10px;
  margin: 0;
}

.navigation a{
  color: grey;
  font-size: 16px;
}

.stack {
  display: flex-inline;
  flex-wrap: nowrap;
  padding: 0 25px;
  color:grey;
}


.nav_second {
  display: flex-inline;
  flex-wrap: nowrap;
  width: 60%
}

a, a:hover {
  color:grey;
  text-decoration: none;
}
a:hover{
  font-weight: bolder;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:whitesmoke;
color:grey;
text-decoration: none;

}

.my_portfolio h2{
  text-align: center;

}

.thumbnail {
  display: block;
  text-align: center;
  justify-content: center;


}

.thumbnail img {
  width: 90%;
  height: auto;
  margin: .5rem;
  padding: .5rem;

}

.left_column{
  background: black;
  height: 100vh;
  color:white;
  background-image: url("../../resources/images/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px color red;
   
}
.my_portfolio {
  margin: 0 auto;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

}

portfolio_row {
  display: inline-flex;;
  flex-wrap: wrap;
}
.responsive_design {

  background-image: url("../../resources/images/office-583839_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  position:relative;
  display:flex;

  align-items: center;
}

.mobile_design {

  background-image: url("../../resources/images/ipad-577746_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  text-align: center;
  position:relative;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}


.app_dev {

  background-image: url("../../resources/images/programming-1836330_640.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  text-align: center;
  position:relative;
  display:flex;

  align-items: center;
}



.coming_soon {
  width: 100%;
  font-weight: bolder;
  background-color:black;
  color:seashell;
  display: block;
  flex-wrap: wrap;
}

.footer_cats a{
  color:seashell;
}

.footer {
margin: 0 auto;
align-content: space-between;
 
position: fixed;
bottom:0;
height: 10%;
text-align: center;
 
}

footer_cats {
  display: flex;
  justify-content: space-around;
   
}

.footer ul{
  padding: 0;
  width: 100%;

}

.footer li{
  list-style: none;
  margin: 0;
  padding-right: 25px;
  display: inline-flex;
  justify-content: space-around;
  color:seashell;


}
 
#contactContainer, #separatorContainer{
  width:100%;
  margin-top: 3rem;
}

#contactSeparator{
   
  border-bottom: 8px solid black;
  width: 10%;
  margin: 0 auto;
 

}
#contact{
  align-content: center;
  border: 2px white solid;
  width:15%;
  padding: 1rem;
  
}